body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #f9f9f9;

}

button {
    background-color: #101010;
    color: #ffffff;
    border: none;
    padding: 80px 50px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 5rem;
    font-weight: 1000;
}

main {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 20px;
    margin-top: 100px;
}